# Security (Kabhi bhi apne tokens online leak mat hone dena)
.env
.env.local

# Python Cache & Virtual Environment
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Local Data (Agar future me SQLite use karo)

*.sqlite3
*.db
txt.txt
test.py